
//
// VARIABLES
//

// Colors
$blue: #007a9c;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "Open Sans", Helvetica, Verdana ,sans-serif;
$helveticaNeue: "Open Sans", Helvetica, Verdana ,sans-serif;
$georgia: "Open Sans", Helvetica, Verdana ,sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
